<main class="mainDescripcion" *ngIf="comic">
  <!-- Contenedor izquierda -->
  <div class="descripcionIzquierda">
    <!-- Imagen -->
    <div class="descripcionImagen" style="background-image: url({{comic.main_picture.medium}});">
      <div class="descripcionPuntuacion">{{comic.mean}}</div>
    </div>
    <!-- /Imagen -->
  </div>
  <!-- /Contenedor izquierda -->
  <!-- Contenedor derecha -->
  <div class="descripcionDerecha">
    <div>
      <!-- Nombre -->
      <h1 class="descripcionNombre">{{comic.title}}</h1>
      <!-- /Nombre -->
      <!-- Descripcion -->
      <p>
        {{comic.synopsis}}
      </p>
      <!-- /Descripcion -->
    </div>
    <!-- Datos -->
    <div>
      <table class="descripcionTabla">
        <tr>
          <td class="tituloCategoria">Categoría:</td>
          <td class="contenidoTabla" *ngFor="let generos of comic.genres">
            {{generos.name}}
          </td>
        </tr>
        <tr>
          <td class="descripcionSeparacion">Capitulos:</td>
          <td class="contenidoTabla descripcionSeparacion">{{comic.num_volumes}}</td>
        </tr>
        <tr>
          <td class="descripcionSeparacion">Año de serialización:</td>
          <td class="contenidoTabla descripcionSeparacion">{{comic.start_date}}</td>
        </tr>
      </table>
    </div>
    <!-- /Datos -->
    <!-- Botones -->
    <div class="descripcionBotones">
      <a href=" carritoBoot.html" class="descripcionBotonCesta">Leer capitulos</a>
    </div>
    <!-- /Botones -->
  </div>
  <!-- /Contenedor derecha -->
</main>

<!-- Comentarios -->
<ml-comments></ml-comments>
<!-- /Comentarios -->
