@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  height: 6em;
  border-bottom: 1px solid #4f5a68;
  -webkit-box-shadow: 0px 2px 5px 0px #4f5a68;
  -moz-box-shadow: 0px 2px 5px 0px #4f5a68;
  box-shadow: 0px 2px 5px 0px #4f5a68;

  .logoNombreHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2em;
    margin-bottom: 0.5rem;
    font-size: 20px;

    img:hover {
      -webkit-animation-name: rotateIn;
      animation-name: rotateIn;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    a .logoHeader {
      width: 55px;
      height: 55px;
      margin-top: 1.4em;
      margin-right: 0.5rem;
    }

    h1 a {
      color: #a309cd;
    }
  }

  .menu {
    height: 45px;

    ul {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      width: 100%;

      &.submenu {
        height: auto;
        overflow: hidden;
        width: 170px;
        background: #060d17;
        border: 1px solid #4f5a68;
        border-radius: 10px;
        position: absolute;
        z-index: 99;
        display: none;

        li {
          display: block;
          width: 100%;
        }

        a {
          color: white;
          margin: 0;
          padding-left: 5px;
          padding-right: 5px;

          &:hover {
            background: #23282e;
            color: white;
          }
        }
      }
    }

    li {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      float: left;
      display: inline;
      position: relative;

      &:hover ul.submenu {
        display: block;
      }
    }

    a {
      display: block;
      line-height: 45px;
      margin: 0 0.7em;
      text-decoration: none;
      color: white;
      font-size: 16px;

      &.dropdown-arrow:after {
        content: "\25BE";
        margin-left: 5px;
      }
    }
  }

  .inputHeader {
    .buscarIndex {
      background-color: #23282e;
      width: 25em;
      height: 2em;
      border-radius: 15px;
      border: 0;
      position: relative;
      margin-right: 0.5em;
      color: white;
    }

    .lupaHeader {
      padding: 0.25em 0.6em;
      border: 1px solid wheat;
      text-align: center;
      box-shadow: 0 2px 3px white;
      width: 30%;
    }
  }

  .carritoHeader {
    margin-right: 2em;

    &:hover {
      -webkit-animation-name: pulse;
      animation-name: pulse;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .imgCarritoHeader {
      width: 20px;
      margin-right: 0.5em;
    }

    a.textCarrito {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 1400px) {
  header {
    .buscarIndex {
      width: 35em !important;
    }

    .logoNombreHeader {
      margin-left: 4em;

      a .logoHeader {
        width: 65px;
        height: 65px;
      }

      h1 a {
        font-size: 1.2em !important;
      }
    }

    .carritoHeader {
      margin-right: 4em;
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    .tituloHeader {
      display: none;
    }

    .buscarIndex {
      width: 20em !important;
    }

    .logoHeader {
      margin-top: 0.8em !important;
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    .tituloHeader {
      display: none;
    }

    .buscarIndex {
      width: 10em !important;
    }

    .logoHeader {
      margin-top: 0.8em !important;
    }
  }
}

@media screen and (max-width: 750px) {
  header {
    .textCarrito, .inputHeader, .tituloHeader {
      display: none;
    }

    .logoHeader {
      margin-top: 0.8em !important;
    }
  }
}

@media screen and (max-width: 550px) {
  header {
    .imgCarritoHeader, .textCarrito, .tituloHeader, .inputHeader {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    .carritoHeader, .logoNombreHeader, .inputHeader {
      display: none;
    }

    .enlacesNav {
      margin: 0 0.6em !important;
      font-size: 1.1em !important;
    }

    .menuPrincipal {
      margin-left: 1em !important;
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.enlacesPie {
  color: white;
  display: inline;
  margin-left: 0.7em;
}

.iconosPie {
  margin-right: 3em;
  justify-content: right;
}

.enlacesIconosPie {
  display: inline;
  margin-left: 0.7em;
}

.iconoPie {
  width: 20px;
}

@media screen and (max-width: 500px) {
  .enlacesPie {
    font-size: small;
  }

  .iconosPie {
    margin-left: 5.5em;
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 550px) {
  .iconosPie {
    margin-left: 5.7em;
    margin-top: 0 !important;
  }
}

#mainIndex {
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
  margin-bottom: 3em;

  aside {
    color: white;
    font-family: "Aboreto", cursive;
    font-size: 0.7em;
  }

  #filtro {
    margin-left: 3em;

    form select {
      background-color: #060d17;
      color: white;
      border: 0;
      width: 8em;
    }
  }

  #contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;

    .manga {
      display: block;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      order: 0;
      width: 8em;
      height: 11em;
      margin: 1.5em;
      border-radius: 10px;
      box-shadow: 1px 2px 10px #434556;
      font-weight: bold;

      &:hover {
        -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }

      .nuevo {
        background-color: #cd0909;
        padding: 0.1em;
        border-radius: 10px;
        opacity: 0.8;
        text-align: center;
        width: 4em;
        font-size: small;
        margin-left: 5.7em;
        box-shadow: 0 0 10px #cd0909;
      }

      .precioNombre {
        display: flex;
        margin-top: 8em;

        .precio {
          background-color: #a309cd;
          border-radius: 40px;
          opacity: 0.8;
          text-align: center;
          width: 2em;
          padding: 0.4em;
          font-size: small;
          box-shadow: 0 0 10px #a309cd;
          margin-right: 3px;
        }

        .nombre {
          background-color: #a309cd;
          border-radius: 40px;
          opacity: 0.8;
          text-align: center;
          width: 6em;
          padding: 0.4em;
          font-size: small;
          box-shadow: 0 0 10px #a309cd;
        }
      }
    }

    #berserk {
      background-image: url("../img/Mangas/Portada_Bersek.jpg");
      background-image: no-repeat;
      background-image: fixed;
      background-image: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    #bluelock {
      background-image: url("../img/Mangas/Portada_Bluelock.jpg");
      background-image: no-repeat;
      background-image: fixed;
      background-image: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    #chainsawman {
      background-image: url("../img/Mangas/Portada_Chainsawman.jpg");
      background-image: no-repeat;
      background-image: fixed;
      background-image: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .nuevo {
        opacity: 0;
      }
    }

    #deathnote {
      background-image: url("../img/Mangas/Portada_DeathNote.jpg");
      background-image: no-repeat;
      background-image: fixed;
      background-image: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .nuevo {
        opacity: 0;
      }
    }

    #dorohedoro {
      background-image: url("../img/Mangas/Portada_Dorohedoro.jpg");
      background-image: no-repeat;
      background-image: fixed;
      background-image: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    #fireforce {
      background-image: url("../img/Mangas/Portada_FireForce.jpg");
      background-image: no-repeat;
      background-image: fixed;
      background-image: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    #hxh {
      background-image: url("../img/Mangas/Portada_HunterxHunter.jpg");
      background-image: no-repeat;
      background-image: fixed;
      background-image: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    #jujutsu {
      background-image: url("../img/Mangas/Portada_JujutsuKaisen.jpg");
      background-image: no-repeat;
      background-image: fixed;
      background-image: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    #onepiece {
      background-image: url("../img/Mangas/Portada_Onepiece.jpg");
      background-image: no-repeat;
      background-image: fixed;
      background-image: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .nuevo {
        opacity: 0;
      }
    }

    #sololeveling {
      background-image: url("../img/Mangas/Portada_Sololeveling.jpeg");
      background-image: no-repeat;
      background-image: fixed;
      background-image: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .nuevo {
        opacity: 0;
      }
    }

    #tokyoghoul {
      background-image: url("../img/Mangas/Portada_TokyoGhoul.jpg");
      background-image: no-repeat;
      background-image: fixed;
      background-image: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    #vagabond {
      background-image: url("../img/Mangas/Portada_Vagabond.jpg");
      background-image: no-repeat;
      background-image: fixed;
      background-image: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .nuevo {
        opacity: 0;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  #mainIndex {
    .manga {
      width: 10em !important;
      height: 14em !important;
    }

    .nuevo {
      margin-left: 8em !important;
    }

    .precioNombre {
      margin-top: 11em !important;

      .precio {
        margin-right: 1em !important;
        margin-left: 0.8em !important;
      }
    }
  }
}

#mainSobreNosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: unset;
  align-content: flex-start;
  color: white;
  text-align: justify;
  margin-left: 8em;
  margin-right: 8em;
  margin-top: 2em;

  #sobreNosotrosIzquierda {
    order: 0;
    flex: 0 auto;
    align-self: auto;
    height: auto;
    width: auto;

    address {
      h1 {
        text-align: start;
        margin: 0;
      }

      ul {
        padding: 0;
        margin-top: 4em;

        li {
          list-style: none;
          font-size: x-small;
        }
      }
    }
  }

  #sobreNosotrosDerecha {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
    margin-left: 5em;

    img {
      width: 20em;
    }
  }
}

@media screen and (max-width: 1080px) {
  #mainSobreNosotros {
    flex-wrap: wrap;
    margin-left: 2em;
    margin-right: 2em;

    #sobreNosotrosDerecha {
      display: none;
    }
  }
}

.botonModal {
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  background-color: #a309cd;
  border: 0;
  box-shadow: 0 0 10px #a309cd;
  text-align: center;
  width: 78%;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 1em;

  &:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}

.detallesModal {
  background-color: #23282e;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  left: 50%;
  max-width: 90%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  text-align: left;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  border: 2px solid white;

  .detallesModalCerrado {
    align-items: center;
    color: white;
    display: flex;
    height: 4.5em;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 4.5em;

    svg {
      display: block;
    }
  }

  .detallesModalTitulo {
    color: white;
    padding: 0.5em;
    pointer-events: all;
    position: relative;
    width: calc(100% - 4.5em);

    h1 {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: normal;
    }
  }

  .detallesModalContenido {
    border-top: 1px solid #e0e0e0;
    background-color: #060d17;
    padding: 2em;
    pointer-events: all;
    overflow: auto;

    input {
      background-color: #060d17;
      border-radius: 20px;
      width: 22em;
      height: 2em;
      margin-bottom: 1em;
      // border: 0;
      color: white;
      -webkit-box-shadow: 0 0 50px #666666;
      -moz-box-shadow: 0 0 50px #666666;
      box-shadow: 0 0 50px #666666;
      border: 2px inset #bfbfbf;

      &::placeholder {
        color: white;
        opacity: 0.3;
        font-weight: bold;
      }
    }

    button {
      padding: 10px;
      border-radius: 20px;
      color: white;
      font-weight: bold;
      background-color: #a309cd;
      border: 0;
      box-shadow: 0 0 10px #a309cd;

      &:hover {
        -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
    }
  }
}

.detallesModalOverlay {
  transition: opacity 0.2s ease-out;
  pointer-events: none;
  background: rgba(15, 23, 42, 0.8);
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

details {
  &[open] .detallesModalOverlay {
    pointer-events: all;
    opacity: 0.5;
  }

  summary {
    list-style: none;

    &:focus {
      outline: none;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }
}

.mainDescripcion {
  display: flex;
  color: white;
  margin-top: 2em;
  margin-left: 8em;
  margin-right: 8em;

  .descripcionIzquierda {
    margin-right: 2em;

    .descripcionImagen {
      background-image: no-repeat;
      background-image: fixed;
      background-image: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 28px 10px #23282e;
      -moz-box-shadow: 0px 0px 28px 10px #23282e;
      box-shadow: 0px 0px 28px 10px #23282e;
      width: 17em;
      height: 25em;
      margin-left: 2em;
      display: flex;
      flex-direction: column;

      .descripcionPuntuacion {
        background-color: #a309cd;
        border-radius: 40px;
        opacity: 0.8;
        text-align: center;
        width: 1.4em;
        height: 1.4em;
        // padding: 0.4em;
        font-size: medium;
        box-shadow: 0 0 10px #a309cd;
        padding: 0.7em;
        font-weight: 700;
        justify-content: flex-end;
      }
    }

    .descripcionNombre {
      text-align: center;
      font-size: 2.8em;
      font-weight: bolder;
      margin-left: 0.7em;
    }

    #descripcionImagenJujutsu {
      background-image: url("../img/Mangas/Portada_JujutsuKaisen.jpg");
    }

    #descripcionImagenBersek {
      background-image: url("../img/Mangas/Portada_Bersek.jpg");
    }

    #descripcionImagenBluelock {
      background-image: url("../img/Mangas/Portada_Bluelock.jpg");
    }

    #descripcionImagenChaninsawman {
      background-image: url("../img/Mangas/Portada_Chainsawman.jpg");
    }

    #descripcionImagenDeathNote {
      background-image: url("../img/Mangas/Portada_DeathNote.jpg");
    }

    #descripcionImagenDorohedoro {
      background-image: url("../img/Mangas/Portada_Dorohedoro.jpg");
    }

    #descripcionImagenFireForce {
      background-image: url("../img/Mangas/Portada_FireForce.jpg");
    }

    #descripcionImagenHxH {
      background-image: url("../img/Mangas/Portada_HunterxHunter.jpg");
    }

    #descripcionImagenOnePiece {
      background-image: url("../img/Mangas/Portada_Onepiece.jpg");
    }

    #descripcionImagenSoloLeveling {
      background-image: url("../img/Mangas/Portada_Sololeveling.jpeg");
    }

    #descripcionImagenTokyoGhoul {
      background-image: url("../img/Mangas/Portada_TokyoGhoul.jpg");
    }

    #descripcionImagenVagabond {
      background-image: url("../img/Mangas/Portada_Vagabond.jpg");
    }
  }

  .descripcionDerecha {
    text-align: justify;

    h2 {
      font-size: 2em;
      font-weight: bold;
    }

    .descripcionTabla {
      text-align: start;
      font-size: small;
      margin-top: 6em;
      width: 25em;

      .tituloCategoria {
        padding-bottom: 1.4em;
      }

      .contenidoTabla {
        padding-left: 1em;
      }

      .descripcionSeparacion {
        padding-top: 1em;
      }
    }

    .descripcionBotones {
      font-weight: 700;
      margin-top: 3em;
      margin-left: 21em;
      text-align: right;

      .descripcionBotonPrecio {
        background-color: #a309cd;
        border-radius: 40px;
        opacity: 0.8;
        text-align: center;
        width: 3em;
        height: 1.4em;
        // padding: 0.4em;
        font-size: medium;
        box-shadow: 0 0 10px #a309cd;
        // margin-right: 3px;
        padding: 0.7em;
        margin-right: 1em;
      }

      .descripcionBotonCesta {
        background-color: #a309cd;
        border-radius: 40px;
        opacity: 0.8;
        text-align: center;
        width: 1.4em;
        height: 1.4em;
        // padding: 0.4em;
        font-size: medium;
        box-shadow: 0 0 10px #a309cd;
        margin-right: 3px;
        padding: 0.7em;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .descripcionBotones {
    margin-left: 0 !important;
    text-align: left !important;
  }
}

@media screen and (max-width: 873px) {
  .mainDescripcion {
    align-content: center;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;

    .descripcionIzquierda {
      .descripcionImagen {
        text-align: center;
        width: 10em;
        height: 15em;
        margin-top: 2em;
      }

      h1 {
        text-align: center !important;
        font-size: 1.7em !important;
      }
    }
  }
}

@media screen and (max-width: 617px) {
  .mainDescripcion {
    flex-wrap: wrap;

    .descripcionIzquierda {
      text-align: center;
      margin-left: 0.7em;

      .descripcionImagen {
        width: 17em;
        height: 25em;
      }

      h1 {
        text-align: center !important;
        font-size: 2.6em !important;
      }
    }
  }
}

#mainContacto {
  font-family: "Source Sans Pro", sans-serif;
  background-image: url("../img/utiles/panel_Berserk.png");
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 30em;
  height: 43em;
  border-radius: 30px;
  margin: auto;
  margin-bottom: 3em;
  margin-top: 3em;
  -webkit-box-shadow: 0 0 30px #cccccc;
  -moz-box-shadow: 0 0 30px #cccccc;
  box-shadow: 0 0 30px #cccccc;
  border: 5px ridge #cccccc;

  #formularioContacto {
    text-align: center;

    h1 {
      color: white;
      padding: 0.5em;
      font-weight: bold;
      font-size: 3em;
      font-family: "Aboreto", cursive;
      margin: 0.5em;
      -webkit-text-shadow: 0px 0px 10px #666666;
      -moz-text-shadow: 0px 0px 10px #666666;
      text-shadow: 0px 0px 10px #666666;
    }

    input, textarea {
      background-color: #060d17;
      border-radius: 10px;
      width: 30em;
      height: 2.5em;
      margin-bottom: 1em;
      // border: 0;
      color: white;
      -webkit-box-shadow: 0 0 50px #666666;
      -moz-box-shadow: 0 0 50px #666666;
      box-shadow: 0 0 50px #666666;
      border: 2px inset #bfbfbf;
    }

    input::placeholder {
      color: white;
      opacity: 0.3;
      font-weight: bold;
      margin-left: 10px;
    }

    textarea {
      &::placeholder {
        color: white;
        opacity: 0.3;
        font-weight: bold;
        margin-left: 10px;
      }

      height: 20em;
    }

    #enviar {
      text-align: center;
      color: white;
      height: 3em;
      font-weight: bold;
      -webkit-box-shadow: 0 0 50px #666666;
      -moz-box-shadow: 0 0 50px #666666;
      box-shadow: 0 0 50px #666666;

      &:hover {
        -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
    }
  }

  #circulo1 {
    background: #a309cd;
    width: 100px;
    height: 100px;
    left: 10em;
    top: 35em;
  }

  #circulo3 {
    background: #23282e;
    width: 50px;
    height: 50px;
    left: 10em;
    top: 33em;
  }

  #circulo4 {
    background: #23282e;
    width: 50px;
    height: 50px;
    left: 14em;
    top: 40em;
  }

  #circulo2 {
    background: #060d17;
    width: 100px;
    height: 100px;
    left: 21em;
    top: 6em;
  }

  #circulo8 {
    background: #a309cd;
    width: 50px;
    height: 50px;
    left: 20em;
    top: 7em;
  }

  #circulo9 {
    background: #23282e;
    width: 25px;
    height: 25px;
    left: 19.5em;
    top: 9em;
  }

  #circulo5 {
    background: #a309cd;
    width: 100px;
    height: 100px;
    left: 65em;
    top: 25em;
  }

  #circulo6 {
    background: #23282e;
    width: 50px;
    height: 50px;
    left: 66em;
    top: 23em;
  }

  #circulo7 {
    background: #23282e;
    width: 50px;
    height: 50px;
    left: 64em;
    top: 29em;
  }

  .bola {
    border-radius: 50%;
    position: absolute;
    z-index: 3;

    &:active {
      -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }
}

@media screen and (max-width: 1100px) {
  #mainContacto .bola {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  #mainContacto {
    width: 80%;
    padding-top: 1.5em;

    h1 {
      font-size: 1.5em;
    }

    input, textarea {
      width: 18em !important;
    }
  }
}

.categoriaFiltro {
  margin-left: 6em;
  margin-top: 2em;

  .categoriaSelect {
    height: 2em;
    border-radius: 5px;
    margin-right: 1em;
  }

  .categoriaBoton {
    background-color: #a309cd;
    color: white;
    padding: 0.4em 2em;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 10px #a309cd;
  }
}

@media screen and (max-width: 660px) {
  .categoriaFiltro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: normal;

    .categoriaSelect {
      display: block;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      order: 0;
      margin-bottom: 0.5em;
    }
  }
}

.carousel {
  position: relative;
  margin: 3em 4em;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  display: flex;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1em;

  a {
    margin: auto;

    figure {
      margin-bottom: 2em;
    }

    img {
      display: block;
      height: 270px;
      width: 180px;
      border-radius: 10px;
      box-shadow: 1px 2px 10px #23282e;
    }

    &:hover {
      -webkit-animation-name: pulse;
      animation-name: pulse;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }
}

.carousel-control {
  color: white;
  // cursor: pointer;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;

  &:hover {
    color: #a309cd;
  }

  &.prev {
    left: 2%;
  }

  &.next {
    right: 2%;
  }
}

#carousel-1:checked ~ .control-1 {
  display: block;

  ~ .carousel-indicators li:nth-child(1) .carousel-bullet {
    color: #a309cd;
  }
}

#carousel-2:checked ~ .control-2 {
  display: block;

  ~ .carousel-indicators li:nth-child(2) .carousel-bullet {
    color: #a309cd;
  }
}

#carousel-3:checked ~ .control-3 {
  display: block;

  ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #a309cd;
  }
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;

  li {
    display: inline-block;
    margin: 0 5px;
  }
}

.carousel-bullet {
  color: white;
  cursor: pointer;
  display: block;
  font-size: 35px;

  &:hover {
    color: #23282e;
  }
}

#mainCarrito {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 3em;
  color: white;

  .tituloCarrito {
    margin: 0;
    font-size: 2em;
  }

  .totalCarrito {
    margin-top: 0;
    margin-bottom: 2.2em;
  }

  .contenidoIzquierdaCarrito {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin-right: 5em;
    background-color: #23282e;
    border-radius: 10px;
    padding: 2em;
    -webkit-box-shadow: 0px 0px 28px 10px #23282e;
    -moz-box-shadow: 0px 0px 28px 10px #23282e;
    box-shadow: 0px 0px 28px 10px #23282e;

    .carritoProductos {
      .carritoJujutsu {
        margin-bottom: 1em;
      }

      .carritoProducto {
        display: flex;
        width: 30em;
        border: 1px solid white;
        border-radius: 10px;

        ul {
          padding-left: 0;
          list-style: none;
        }

        .imgProductoCarrito {
          width: 100px;
          height: 150px;
          padding: 0.7em;
          border-radius: 20px;
        }

        .cantidadCarrito {
          padding: 0.3em;
          width: 4em;
          border-radius: 5px;
          margin-top: 1em;
        }
      }
    }
  }

  .carritoZonapago {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    background-color: #23282e;
    border-radius: 10px;
    padding: 2em;
    margin-top: 2.5em;
    -webkit-box-shadow: 0px 0px 28px 10px #23282e;
    -moz-box-shadow: 0px 0px 28px 10px #23282e;
    box-shadow: 0px 0px 28px 10px #23282e;

    .carritoBotonespago {
      text-align: center;

      .botonContinuar {
        height: 35px;
        text-align: center;
        margin-bottom: 0.3em;
        border-radius: 30px;
        padding-left: 11em;
        padding-right: 11em;
        color: white;
        font-weight: bold;
        background-color: #a309cd;
        border: 0;
        box-shadow: 0 0 10px #a309cd;

        &:hover {
          -webkit-animation-name: pulse;
          animation-name: pulse;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }
      }

      .botonO {
        margin: 0;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }

      .botonPaypal {
        width: 4em;
        height: 30px;
        background-color: white;
        margin-top: 0.3em;
        border-radius: 30px;
        padding-left: 9.6em;
        padding-right: 9.6em;

        &:hover {
          -webkit-animation-name: pulse;
          animation-name: pulse;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }
      }
    }

    .carritoResumen {
      .carritoTabla {
        .carritoTablaPrecio {
          padding-left: 9.9em;
          text-align: right;
        }

        .carritoTablaPrecio2 {
          padding-left: 12em;
          text-align: right;
        }
      }

      hr {
        border: 0.5px dashed white;
      }
    }
  }

  .carritoTabla {
    margin-top: 1em;

    h4 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .codigoPro {
    width: 27.5em;
    height: 1.6em;
    margin-top: 1em;
    border-radius: 5px;
    border: 0;

    &::placeholder {
      color: black;
      font-weight: bold;
    }
  }

  .carritoFormaspago {
    margin-top: 2em;

    h5 {
      margin-bottom: 0.2em;
      font-weight: 400;
      font-size: x-small;
    }

    .imgFormasPago {
      width: 23em;
    }
  }
}

@media screen and (max-width: 1080px) {
  #mainCarrito {
    flex-wrap: wrap;
    align-content: center;
    margin-left: 2em;
    margin-right: 2em;

    .contenidoIzquierdaCarrito {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 580px) {
  .contenidoIzquierdaCarrito {
    padding: 1em;

    .carritoProducto {
      width: 18em !important;

      .imgProductoCarrito {
        width: 70px;
        height: 120px;
        padding: 0.5em;
      }

      .cantidadCarrito {
        padding: 0.2em;
        width: 2em;
      }
    }
  }

  .carritoZonapago {
    width: 19em !important;

    .botonContinuar {
      padding-left: 8em !important;
      padding-right: 8em !important;
    }

    .botonPaypal {
      padding-left: 7em !important;
      padding-right: 7em !important;
    }

    .carritoResumen {
      .carritoTabla {
        .carritoTablaPrecio {
          padding-left: 5em !important;
        }

        .carritoTablaPrecio2 {
          padding-left: 7em !important;
        }
      }

      hr {
        border: 0.5px dashed white;
      }
    }
  }

  .codigoPro {
    width: 22em !important;
  }

  .imgFormasPago {
    width: 18.5em !important;
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #060d17;
  font-family: "Source Sans Pro", sans-serif;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #23282e;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #060d17;
    border-radius: 20px;
    border: 3px solid #23282e;
  }
}

a {
  text-decoration: none;
  color: white;
}
