<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a><img src="assets/logo_MangList.png" alt="MangList" class="img" style="width: 60px" data-mdb-toggle="animation"
        data-mdb-animation-reset="true" data-mdb-animation="pulse" data-mdb-animation-start="onHover"></a>
    <a class="navbar-brand" [routerLink]="['/']" [routerLinkActive]="['active']">MangList</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pt-2" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px">
        <li class="nav-item">
          <a class="nav-link active m-1" aria-current="page" [routerLink]="['/']"
            [routerLinkActive]="['active']">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active m-1" href="#" id="navbarScrollingDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown" style="background-color: #060d17">
            <li>
              <a class="dropdown-item" [routerLink]="['/categorias']">Fantasia</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/categorias']">Terror</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/categorias']">Intriga</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/categorias']">Acción</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/categorias']">Sobrenatural</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/categorias']">Colegios y Universidad</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/categorias']">Shonen</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/categorias']">Sheinen</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/categorias']">Aventura</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active m-1" [routerLink]="['/contact']">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active m-1" [routerLink]="['/about']">Sobre nosotros</a>
        </li>
      </ul>
      <form class="d-flex" style="width: 35%" (submit)="busqueda()">
        <input class="form-control me-3 busquedaInput" type="search" placeholder="Busqueda de Manga o Manhwa"
          aria-label="Search" style="background-color: #23282e !important; color: white" [(ngModel)]="filterSearch"
          [ngModelOptions]="{standalone:true}">
      </form>
      <a [routerLink]="['/auth/login']" *ngIf="!loggedIn" class="iconoUsuario">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill"
          viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
        </svg>
      </a>
      <a [routerLink]="['/users', userId]" *ngIf="loggedIn" class="iconoUsuario" style="margin-right: 0;">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill"
          viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
        </svg>
      </a>
      <a class="nav-link iconoUsuario" *ngIf="loggedIn" [routerLinkActive]="['active']" id="logout" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
