<main id="mainContacto">
  <form action="#" id="formularioContacto">
    <h1 id="contactanos">CONTÁCTANOS</h1>
    <input class="inputContacto" type="text" id="nombre" name="nombre" placeholder="Nombre"><br>
    <input class="inputContacto" type="email" id="email" name="email" placeholder="Email"><br>
    <input class="inputContacto" type="tel" id="telefono" name="telefono" placeholder="Teléfono"><br>
    <textarea class="textareaContacto" id="mensaje" name="mensaje" cols="30" rows="10" placeholder="Mensaje"></textarea><br>
    <input class="inputContacto" type="submit" value="Envíar" id="enviar" name="enviar">
  </form>
  <div id="circulo1" class="bola"></div>
  <div id="circulo2" class="bola"></div>
  <div id="circulo3" class="bola"></div>
  <div id="circulo4" class="bola"></div>
  <div id="circulo5" class="bola"></div>
  <div id="circulo6" class="bola"></div>
  <div id="circulo7" class="bola"></div>
  <div id="circulo8" class="bola"></div>
  <div id="circulo9" class="bola"></div>
</main>
