<!-- Contendor principal -->
<main class="mainDescripcion">
  <!-- Contenedor izquierda -->
  <div class="descripcionIzquierda">
    <!-- Imagen -->
    <div class="descripcionImagen" id="descripcionImagenBersek">
      <div class="descripcionPuntuacion">10</div>
    </div>
    <!-- /Imagen -->
    <!-- Nombre -->
    <h1 class="descripcionNombre">BERSERK</h1>
    <!-- /Nombre -->
  </div>
  <!-- /Contenedor izquierda -->
  <!-- Contenedor derecha -->
  <div class="descripcionDerecha">
    <!-- Descripcion -->
    <div>
      <h2>Descripción:</h2>
      <p>
        Un antihéroe oscuro y mal encarado, con un cuerpo hercúleo cincelado
        durante su desempeño como mercenario, sin un ápice de empatía por
        sus enemigos ni por sus semejantes. Tuerto y repleto de cicatrices y
        armado con una espada gigantesca que ningún otro hombre puede
        empuñar con tanta solvencia y un brazo protésico que esconde un
        cañón en su interior. Todo ello enmarcado en un mundo fantástico
        donde humanos, elfos, monstruos, demonios y demás criaturas del
        averno se daban la mano alrededor de un relato épico que se iba
        cimentando piedra a piedra.
      </p>
    </div>
    <!-- /Descripcion -->
    <!-- Datos -->
    <div>
      <table class="descripcionTabla">
        <tr>
          <td class="tituloCategoria">Categoría:</td>
          <td class="contenidoTabla">
            Fantasía, Terror, Intriga, Acción, Sobrenatural, Sheinen
          </td>
        </tr>
        <tr>
          <td class="descripcionSeparacion">Capitulos:</td>
          <td class="contenidoTabla descripcionSeparacion">371</td>
        </tr>
        <tr>
          <td class="descripcionSeparacion">Año:</td>
          <td class="contenidoTabla descripcionSeparacion">1990</td>
        </tr>
      </table>
    </div>
    <!-- /Datos -->
    <!-- Botones -->
    <div class="descripcionBotones">
      <a href=" carritoBoot.html" class="descripcionBotonPrecio">20€</a>
      <a href=" carritoBoot.html" class="descripcionBotonCesta">Añadir a la cesta</a>
    </div>
    <!-- /Botones -->
  </div>
  <!-- /Contenedor derecha -->
</main>
<!-- /Contendor principal -->
