<!-- Contendor principal -->
<main class="mainDescripcion" *ngIf="comic">
  <!-- Contenedor izquierda -->
  <div class="descripcionIzquierda">
    <!-- Imagen -->
    <div class="descripcionImagen" style="background-image: url({{comic.main_picture.medium}});">
      <div class="descripcionPuntuacion">{{comic.mean}}</div>
    </div>
    <!-- /Imagen -->
    <!-- Nombre -->
    <h1 class="descripcionNombre">{{comic.title}}</h1>
    <!-- /Nombre -->
  </div>
  <!-- /Contenedor izquierda -->
  <!-- Contenedor derecha -->
  <div class="descripcionDerecha">
    <!-- Descripcion -->
    <div>
      <h2>Descripción:</h2>
      <p>
        {{comic.synopsis}}
      </p>
    </div>
    <!-- /Descripcion -->
    <!-- Datos -->
    <div>
      <table class="descripcionTabla">
        <tr>
          <td class="tituloCategoria">Categoría:</td>
          <td class="contenidoTabla" *ngFor="let generos of comic.genres">
            {{generos.name}}
          </td>
        </tr>
        <tr>
          <td class="descripcionSeparacion">Capitulos:</td>
          <!-- TODO ANDRES -->
          <td class="contenidoTabla descripcionSeparacion">NO PONE LOS CAPITULOS QUE HAY</td>
        </tr>
        <tr>
          <td class="descripcionSeparacion">Año de serialización:</td>
          <td class="contenidoTabla descripcionSeparacion">{{comic.start_date}}</td>
        </tr>
      </table>
    </div>
    <!-- /Datos -->
    <!-- Botones -->
    <div class="descripcionBotones">
      <a href=" carritoBoot.html" class="descripcionBotonPrecio">20€</a>
      <a href=" carritoBoot.html" class="descripcionBotonCesta">Añadir a la cesta</a>
    </div>
    <!-- /Botones -->
  </div>
  <!-- /Contenedor derecha -->
</main>
<!-- /Contendor principal -->
