.modal-body {
  color: #060d17;
}
.modal-header {
  background-color: #23282e;
  color: white;
}
#recipient-email {
  background-color: white;
  border: 1px solid #060d17;
}
#message-text {
  background-color: white;
  border: 1px solid #060d17;
}
