<form action="#" id="form-login" class="mt-4" method="POST" role="form" (ngSubmit)="loggin()" [formGroup]="userForm">
  <legend>Welcome to FoodScore!</legend>

  <div class="mb-3">
    <label for="correo">Email:</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email" formControlName="email"
      required [ngClass]="validClasses(emailControl)" />
    <div class="invalid-feedback" *ngIf="emailControl.errors?.['required']">
      Name is required
    </div>
  </div>
  <div class="mb-3">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password"
      formControlName="password" required [ngClass]="validClasses(passwordControl)" />
    <div class="invalid-feedback" *ngIf="passwordControl.errors?.['required']">
      Name is required
    </div>
  </div>
  <p class="text-danger" id="errorInfo"></p>
  <a class="btn btn-secondary" [routerLink]="['/auth/register']" [routerLinkActive]="['active']" role="button">Create
    account</a>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

<hr>

<button appGoogleLogin type="button" class="btn btn-danger" (loginOk)="loggedGoogle($event)">
  <fa-icon [icon]="googleIcon"></fa-icon>
  Login with Google
</button>
&nbsp;
<button appFbLogin type="button" class="btn btn-primary" (loginOk)="loggedFacebook($event)"
  [scopes]="['email', 'public_profile']">
  <fa-icon [icon]="fbIcon"></fa-icon>
  Login with Facebook
</button>
