<!-- Contendor principal -->
<main id="mainIndex">
  <!-- Filtro -->
  <div id="filtro">
    <form [formGroup]="tipoGenero">
      <select id="genero" formControlName="genero" >
        <option name="Todos" selected>Todos</option>
        <ng-container *ngFor="let g of generos">
          <option [ngValue]="g">{{ g.name }}</option>
        </ng-container>

      </select>
    </form>
  </div>
  <!--TODO ANDRES-->
  <div id="contenido">
    <div *ngFor="let comic of comics | comicsFilter:tipoGenero.value.genero.value">
      <ml-comic-card [comic]="comic.node"></ml-comic-card>
    </div>
  </div>

  <!-- /Contenido -->
</main>
<!-- /Contendor principal -->
<!-- Pie de página -->
