#mainIndex {
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
  margin-bottom: 3em;

  aside {
    color: white;
    font-family: "Aboreto", cursive;
    font-size: 0.7em;
  }

  #filtro {
    margin-left: 3em;

    form select {
      background-color: #060d17;
      color: white;
      border: 0;
      width: 8em;
    }
  }

  #contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
}
