.go-top {
  background-repeat: no-repeat;
  font-size: 20px;
  color: #a309cd;
  color: #23282E !important;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 20;
}

.go-top:hover {
  color: #a309cd !important;
}
